.CheckImg {
  margin-top: 4rem;
}
.checkButton {
  padding: 10px;
}
.checkButton2 {
  width: 100px;
  background-color: #f52a2a;
  border: none;
}
.checkButton2:hover {
  transform: scale(1.02 1.02);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  background-color: #f52a2a;
  border: none;
}
