.Slogans {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: white;
  font-weight: 900;
  height: 80vh;
  width: 300px;
  margin-left: 60px;
}

.Slogans div h6 {
  font-weight: 900;
  line-height: 20px;
  margin: 0;
  /* width: 300px; */
}

.Slogans > div {
  padding: 20px;
  width: 50%;
  flex-grow: 1;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .Slogans {
    display: flex;
    flex-direction: row;
    /* height: 5vh; */
    margin-left: 0;
    width: 100%;
  }
}
