.r_infocard_list {
  color: #000000;
  font-weight: 500;
}
.r_infocard_list:hover {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.r_link_active {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
