@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

.member_course {
  .detailArea {
    margin-top: 200px;

    @include md {
      margin-top: 0;
    }

    #box3,
    #box4 {
      display: none;
    }

    .box1,
    .box2 {
      display: none;
      width: 100%;
    }

    .show {
      display: block;
    }

    .nav-link {
      padding: 0;
    }
  }

  .card {
    max-width: 800px !important;
    margin-top: 40px;
    border-radius: 0;

    .ellipsis {
      overflow: hidden;
      height: 90px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    h5 {
      margin-bottom: 0;
    }

    a,
    a:link {
      color: #ffffff;
    }

    .btn {
      border-radius: 0;
    }

    .fab{
      color:#2699FB;
      font-size: 28px;
      margin-right:20px; 
    }
  }
}
