@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

.member_news {
  .detailArea {
    margin-top: 200px;

    @include md {
      margin-top: 0;
    }

    #box2,
    #box3,
    #box4 {
      display: none;
    }

    .show {
      display: block;
    }

    .nav-link {
      padding: 0;
    }
  }

  .card {
    max-width: 800px !important;
    margin-top: 40px;
    border-radius: 0;

    .titlearea {
      width: 250px;
      height: 50px;
    }

    .cancel{
      max-height: 30px;
    }

    .card-title{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 24px;
      max-height: 50px;
    }

    .ellipsis {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 24px;
      height: 72px;
    }
    .textcontent {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 24px;
      height: 62px;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .card-text2 {
      margin-top: 20px;
    }

    h5 {
      margin-bottom: 0;
    }

    a,
    a:link {
      color: #ffffff;
    }

    .btn {
      border-radius: 0;
    }

    .btn-dark{
      background-color: #000000;
      border-color: #000000;
    }

    .textcontent {
      height: 110px;
    }

    .fab {
      color: #f52a2a;
      font-size: 1.6rem;
      margin-right: 20px;
    }
  }
}
