.member_news {
    #box2,
    #box3,
    #box4 {
        display: none;
    }


    a,
    a:link
        {
        color: #000000;
    }

    ;

    .show {
        display: block;
    }

    .nav-link {
        padding: 0;
    }

    
}