.member_password {


    .myProfile {
        margin-top: 110px;
        padding-bottom: 5%;


        #info_bar {
            width: 70%;
            margin: 0 auto;
        }

        

        .member-title {
            background-color: #f2f2f2;
            width: 70%;

            h4 {
                display: block;
                font-size: 18px;

            }
        }
        

        .passwordArea {
            margin-top: 80px;

            ul {
                width: 70%;

                li {
                    padding-bottom: 50px;
                }
            }

            .form-control {
                border-radius: 0;
            }


        }

        button {
            margin-top: 50px;
            background-color: #000000;
            border-radius: 0;
        }

    }
}