@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}

.member_product {

    .detailArea {
        margin-top: 200px;

        @include md {
            margin-top: 0;
        }


        #box3,
        #box4 {
            display: none;
        }


        .box1,
        .box2 {
            display: none;
            width: 100%;
            height: 100px;

        }

        .show {
            display: block;
        }

        .nav-link {
            padding: 0;
        }
    }
}