.Logo {
  display: flex;
  flex-direction: column;
  background: url(../../image/logo.svg) no-repeat center center;
  
}

.LogoText {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  
}

.Text{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
