.News {
  /* padding-top: 10vh; */
  width: 100%;
  /* background: url(../../image/back3.jpg) no-repeat top center; */
  /* background-size: 1920px 1080px;
  position: relative;
	background-attachment: fixed; */
  background: white;
}

/* .Mask {
	width: 100%;
	height: 100vh;
  background-size: 1920px 1080px;
  position: fixed;
  background-attachment: fixed;
	background-color: rgba(0,0,0,0.3);
  
} */

.Control {
  padding: 20px;
}

.Control button {
  margin-left: 20px;
  background-color: rgba(255, 255, 255 0.1);
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.Control button:focus {
  outline: 2px black;
  outline-style: dotted;
}

.Toggle {
  background: rgb(250, 250, 250);
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.Toggle > ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.Toggle > ul > li {
  cursor: pointer;
  /* margin-left: 10px; */
  padding: 14px;
  font-weight: bold;
}
