.Main {
  width: 100%;
  height: 100vh;
  /* background: white; */
  /* height: 300vh; */
  /* background-size: 1920px 1080px; */
  /* background-attachment: fixed; */
  background: var(--main_red);
  position: relative;
  z-index: -1000;
  overflow-x: hidden;
}
.HeaderBtm11 {
  background-color: white;
  height: 15vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -999;
}
