.Control {
  padding: 20px;
  background: white;
  min-height: 233.8px;
}

.Control li {
  cursor: pointer;
}

.Filter {
  width: 100%;
  height: 10vh;
}

.Filter ul {
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.Filter li {
  /* flex-grow: 1; */
  padding: 2px 1.2rem;
  text-align: center;
  border: 2px black solid;
  border-radius: 500px;
  margin-left: 30px;
  font-weight: bold;
}

.Filter li:hover {
  background: rgb(207, 204, 204);
}

.Toggle {
  height: 10vh;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Toggle ul {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Toggle li {
  background-color: #f52a2a;
  text-align: center;
  flex-grow: 1;
  padding: 5px 30px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
}

.Search {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.SearchInner {
  display: flex;
  height: 100%;
}

.SearchFilter {
  height: 44px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.SearchFilter > span {
  margin-left: 10px;
  border: 1px solid black;
  padding: 0 5px;
}

.SearchInner > * {
  margin-right: 10px;
}

.SearchInner button {
  border: none;
  padding: 0 10px;
  background-color: black;
  color: white;
  height: 28px;
  width: 56px;
  line-height: 28px;
  margin-left: 10px;
}

.SearchBar {
  /* width: 100%; */
  position: relative;
  display: flex;
  align-items: center;
  height: 28px;
  margin-right: 30px;
}

.Icon {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5px;
  display: flex;
  height: 28px;
  align-items: center;
}

.Control input {
  outline: none;
  border: none;
  background-color: rgb(246, 246, 246);
  padding: 10px 25px;
  height: 28px;
  width: 370px;
}

@media (max-width: 992px) {
  .Toggle {
    justify-content: center;
  }
  .Search {
    justify-content: center;
  }
  .SearchFilter {
    width: 80%;
    margin-bottom: 10px;
  }

  .SearchInner {
    flex-direction: column;
  }

  .SearchInput {
    width: 60vw;
  }
  .SearchInner > * {
    margin-right: 0px;
  }
  .Filter {
    font-size: 0.8rem;
  }

  .Filter li {
    /* flex-grow: 1; */
    padding: 0 0.8rem;
  }

  .Control input {
    width: 240px;
  }
}
