.Display {
  width: 60%;
  height: 70vh;
  position: absolute;
  /* top: 10vh; */
  bottom: 15vh;
  left: 100px;
  right: 0;
  margin: 0 auto;
}

.Display > figure {
  width: 600px;
  height: 700px;
  position: absolute;
  z-index: 0;
}

.Display > img {
  object-fit: cover;
  /* width: 545px; */
  height: calc(100vh - 150px);
}

.Display > figure > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .Display {
    width: 100%;
    top: 25vh;
    height: 50vh;
    left: 0;
    /* overflow: hidden; */
  }
  .Display > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
