.r_card_con {
  background-color: white;
  /* height: 15rem; */
  transition: 0.5s;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
}
.r_card_con:hover {
  transform: scale(1.02, 1.02);
  transform-origin: center center;
  transition: 0.5s;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}
.m_h_84 {
  transform: translateY(-15px);
  max-height: 65px !important;
  overflow: hidden;
}
.m_w_79 {
  max-width: 79.95px !important;
  overflow: hidden;
}
.r_list_img_con {
  /* height: 100%; */
  height: 15rem;
  overflow: hidden;
}
@media (max-width: 800px) and (min-width: 570px) {
  .r_list_img_con {
    height: 10rem;
  }
}
@media (max-width: 570px) {
  .r_list_img_con {
    height: 8rem;
  }
}
.r_list_img_con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.like_wrap {
  top: 1rem;
  left: 1rem;
}
.r_heart {
  font-size: 1.5rem;

  color: white;
  margin: 0;
}
.r_heart:hover {
  text-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}
.collect_num {
  font-size: 0.8rem;
  color: white;
  font-weight: 700;
  width: 1.5rem;
  text-align: center;
  margin: 0;
}
@media (max-width: 800px) {
  .like_wrap {
    top: 0.4rem;
    left: 0.7rem;
  }
  .r_card_con {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  }
}

.r_list_circle {
  border-radius: 50%;
  height: 1.1rem;
  width: 1.1rem;
  border: 0.3rem solid var(--main_red);
}

.r_list_arrow_stick {
  background-color: var(--main_red);
  width: 0.3rem;
  height: 9.4rem;
}

.r_sort_down {
  font-size: 1.8rem;
  margin-top: -1rem;
  color: var(--main_red);
}

.r_arrow_right {
  color: black;
  font-size: 1.3rem;
}
.r_list_dnone {
  display: none !important;
}

.r_list_tag {
  border: 3px solid black;
  border-radius: 500px;
  width: 50px;
  text-align: center;
}
.r_card_title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r_card_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.r_list_intro {
  word-wrap: break-word;
}
.r_heart_red {
  color: var(--main_red);
}
@media (max-width: 900px) {
  .r_card_title {
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .r_list_800_dnone {
    display: none !important;
  }
}
@media (max-width: 800px) {
  .r_list_tag {
    border: 0;
    background-color: black;
    color: white;
    font-size: 12px;
    width: 40px;
    margin-top: 4px 1px;
    float: right;
    position: absolute;
  }
  .r_list_700_dnone {
    display: none !important;
  }
  .r_list_dnone {
    display: flex !important;
  }
  .r_arrow_right {
    display: inline;
  }

  .r_list_rwd_main-con {
    margin: 0 0;
    padding-bottom: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.r_spaceholder {
  width: 1.3rem;
}

.r_list_avatar_con {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.m_w_128 {
  max-width: 128px;
  overflow: hidden;
}
@media (max-width: 900px) {
  .m_h_84 {
    transform: translateY(20px);
  }
}

@media (max-width: 800px) {
  .r_list_avatar_con {
    height: 2rem;
    width: 2rem;
  }
}

.r_list_avatar_con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 400px) {
  .r_list-400_dnone {
    display: none !important;
  }
  .r_card_title {
    max-width: 150px;
  }
}

@media (max-width: 600px) {
  .r_list-600_dnone {
    display: none !important;
  }
}
