* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  box-sizing: border-box;
  /* overflow: hidden; */
}

* > ul {
  list-style: none;
}

* > a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: rgb(196, 184, 184);
}

html {
  /* font-size: 16px; */
  font-size: 14px;
}

.App {
  text-align: center;
  width: 100%;
  /* background: black; */
  /* position: relative; */
}
/* body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #f90;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
} */

body {
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}
