.Products {
  /* min-height: 200vh;
  width: 100%; */
  /* background: url(../../image/back2.jpg) no-repeat top center; */
  /* background-size: 1920px 1080px; */
}
.bgwhite {
  background-color: white;
}
/* 購物車按鈕 */
.Button {
  width: 300px;
  color: #ffff;
  background-color: #f52a2a;
  border: none;
  opacity: 1;
  margin-top: 100px;
  font-weight: 700;
}

.Button:hover {
  transform: scale(1.02 1.02);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  background-color: #f52a2a;
  border: none;
}
/* .SearchSideBar {
  margin-top: 100px;
} */

/* 幻燈片 */

.Carousel {
  margin-top: 6.05rem;
  /* background-color: #ccc; */
  height: 500px;

  /* height: 800px; */
}
.CarouselTitle {
  margin-top: 1.3rem;
  font-size: 1rem !important;
  text-align: left;
  color: var(--main_red);
}
.carousel-inner {
  height: 100% !important;
}
.imgHeight {
  height: 600px;
  width: auto;
}
.itemtext {
  font-weight: 700;
  font-size: 1.3rem;
}
.bggray {
  background-color: var(--main_gray1);
  z-index: -1000;
}
.pforcew100 {
  width: 100%;
  margin: 0;
}
/* 搜尋列表 */
.Carouselol ol li {
  color: red;
}
.SearchButton {
  width: 100%;
  color: #ffff;
  background-color: #f52a2a;
  border: none;
  opacity: 1;
  margin-top: 50px;
}
.SearchButton:hover {
  transform: scale(1.02 1.02);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  background-color: #f52a2a;
  border: none;
}

/* 商品列表 */
.top {
  margin-top: 15px;
  max-width: 825px;
  border: 0;
  padding: 1.3rem;
  border-radius: 0;
}

.Space {
  margin-left: 0.4rem;
  font-size: 20px;
  color: #f52a2a;
}
.ButtonSpace {
  width: 8rem;
  margin: 5px;
  background-color: #f52a2a;
  color: black;
  border: none;
}
.ButtonSpace2 {
  width: 8rem;
  margin: 5px;
  background-color: black;
  color: #fff;
  border: none;
  font-weight: 700;
}
.ButtonSpace2:hover {
  transform: scale(1.02 1.02);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  background-color: black;
  font-weight: 700;
}
.MoreButton {
  text-align: center;
  margin-bottom: 3rem;
  /* width: 3rem; */
}
.MoreButton2 {
  background-color: black;
  color: white;
  border: none;
  width: 10rem;
  height: 2.4rem;
  font-weight: 700;
  margin-top: 5rem;
}
.MoreButton2:hover {
  transform: scale(1.02 1.02);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  background-color: #f52a2a;
  border: none;
}
/* 商品細項 */
.ProductsHight {
  height: 400px;
  width: 800px;
  margin-top: 8rem;
}
.imgGruops {
  text-align: center;
  margin: 15px;
  /* width: 100%; */
}
.imgSmallGroups {
  width: 100%;
}
.imgSmallGroups2 {
  margin-top: 12rem;
}

/* 商品細項按鈕 */
.productButton {
  width: 12rem;
  color: #ffff;
  background-color: #f52a2a;
  border: none;
  opacity: 1;
  margin: 0.5rem;
  border-radius: 0;
  margin-left: 5rem;
}
.pcapsule {
  background-color: white;
  height: 24px;
  width: auto;
  border-radius: 500px;
  padding: 3px 10px;
  color: black;
  border: 2px solid black;
  font-weight: 700;
  margin-bottom: 15px;
}
.productButton:hover {
  transform: scale(1.02 1.02);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  background-color: #f52a2a;
  border: none;
}

.productSideBarCart {
  background-color: black;
  color: #f52a2a;
  height: 6rem;
  margin: auto;
  display: flex;
}
.productSideBarCart2 {
  cursor: pointer;
  margin: auto;
}

.productSideBarCart:hover {
  color: #fff;
}

.productSideBarGenre {
  background-color: #f52a2a;
  color: black;
  height: 3rem;
  margin: auto;
  display: flex;
}
.productSideBarGenre2 {
  margin: auto;
}
.productSideBarBarnd {
  background-color: #f52a2a;
  color: black;
  height: 3rem;
  margin: auto;
  display: flex;
}
.productSideBarBarnd2 {
  margin: auto;
}
.productSideBarPrice {
  background-color: #ccc;
  color: black;
  height: 12rem;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.productSideBarPrice2 {
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 0;
}
.productSideBarPrice3 {
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 0;
}

.productSideBarButtonControl {
  background-color: #ccc;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.productSideBarButton {
  color: #ffff;
  background-color: #f52a2a;
  border: none;
  width: 15rem;
  margin: 10px;
  margin-top: 3rem;
}
.productSideBarButton:hover {
  transform: scale(1.02 1.02);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  background-color: #f52a2a;
  border: none;
}
.productSideBarButton2 {
  color: white;
  background-color: black;
  border: none;
  width: 15rem;
  margin: 10px;
}
.productSideBarButton2:hover {
  transform: scale(1.02 1.02);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700;
  background-color: black;
  border: none;
}
.productDescription {
  /*height: 30rem;*/
  background-color: #ccc;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* padding: 8rem; */
}
.productDescription2 {
  height: 18rem;
  /* background-color: #ccc; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.productDescription3 {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 3rem;
}
.productDescriptionImg {
  /*padding: 3rem;*/
}
.ProductCarousel {
  margin-bottom: 4rem;
}
.CarouselTitle2 {
  margin-top: 2rem;
  text-align: center;
}
.SingleSiderBarHight {
  margin-top: 4rem;
}

.productCardsShadow {
  background: #ffffff;
  /*height: 100%;*/
  box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
  position: relative;
  border-radius: 0;
  margin: 1.2rem 0;
}

.productCardsShadow:hover {
  transform: scale(1.05);
}
