.r_form_group {
    border-radius: 0;
}
.r_dotted_border {
    border-top: 2px dotted var(--main_gray2);
}

.r_an_del_btn {
    border: none;
    background-color: transparent;
    right: 0;
    top: 0;
    font-size: 1.3rem;
}

.r_an_l_con {
    background-color: var(--main_gray1);
}

.r_border_red {
    border: 1px solid var(--main_red);
}

.r_color_red {
    color: var(--main_red) !important;
}

.r_tag_style {
    background-color: #000000;
    padding: 3px 1rem;
    color: white;
    margin-right: 1.5rem;
    transition:0.3s
}

.r_tag_selected {
    background-color: white;
    border: 2px solid black;
    color: black;
    font-weight:600;
    transition:0.3s
}
