@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

.member_ins {
  font-family: Noto Sans CJK TC;

  input {
    border-radius: unset;
    height: auto;
    padding: 0;
  }

  .modal-dialog {
    max-width: 70%;
    margin: 1.75rem auto;
  }

  .modal-content {
    width: 100%;
    background-color: #fff;
    background: #fff url('https://images2.imgbox.com/e1/48/14vgdJJW_o.png')
      no-repeat;
    border-radius: unset;
    background-position: -40px -30px;
    border: none;

    @media (max-width: 1100px) {
      background: #fff url('https://images2.imgbox.com/c0/cb/cbgsEFvi_o.png')
        no-repeat;
    }

    @include md {
      padding-bottom: 40px;
    }

    .alert-danger {
      background-color: #f52a2a;
      color: #ffffff;
      font-weight: 700;
      border: none;
    }

    .alert-success {
      background-color: #000000;
      color: #ffffff;
      font-weight: 700;
      border: none;
    }

    .modal-header {
      border-bottom: none;
    }

    .modal-footer {
      border-top: none;
    }

    .formarea {
      margin-top: 40px;

      .text-muted {
        color: red !important;
      }

      input {
        margin-bottom: 70px;
        width: 100%;

        @include md {
          margin-bottom: 40px;
        }
      }
    }
  }

  .imgarea {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    overflow: hidden;
  }

  #installCheck {
    flex: none;
  }

  .modal-header .close {
    margin-left: 0;
  }

  #info_bar {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  .thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn-secondary {
    background-color: #000000;
    border-radius: 0;
  }
}
