@mixin lg {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

// @media (max-width: 992px) {
//   .myMember-App {

//   }
.myMember-App {
  font-family: Noto Sans CJK TC;
  width: 15%;

  form {
    display: flex;
    background-color: var(--main_red) !important;
    @include lg {
      background-color: black !important;
    }
    a {
      flex-grow: 1 !important;
      text-align: center;
      font-weight: 700;
      color: white;
    }
    button {
      flex-grow: 1 !important;
      font-weight: 700;
      color: white !important;
    }
  }

  @include lg {
    width: 30%;
    .collapse:not(.show) {
      display: block;
    }

    .navbar-light .navbar-toggler {
      display: none;
    }
  }

  .navbar {
    padding: 0;
    background-color: #000000 !important;
    height: 49px;
    transition: 0.5s;
  }
  #basic-navbar-nav {
    height: 100%;
  }

  .btn {
    color: rgb(196, 184, 184);
    padding: 0;
  }

  .btn:focus {
    box-shadow: unset;
  }

  .navbar-expand-lg .navbar-collapse {
    height: 100%;
  }

  .dropdown {
    height: 100%;
    width: 100%;

    button {
      width: 100%;
    }
    .littlePhoto {
      width: 42px;
      height: 42px;
      border: 1px solid #eeeeee;
      margin-left: 0;
      border-radius: 50%;
      overflow: hidden;
      transition: 0.5s;

      @include sm {
        display: none;
      }

      .mylittlePhoto {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .navbar-username {
      line-height: 49px;
      // margin-left: 22px;
      // margin-right: 36px;
      font-weight: bolder;
      color: #ffffff;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .personal-btn {
      background-color: #f52a2a !important;
      border: none;
      border-radius: 0%;
      box-shadow: none;
    }

    .btn-success:focus {
      box-shadow: none;
    }

    .btn-success:hover {
      border: none;
    }

    .dropdown-menu {
      background-color: #000000;
      width: 100%;
      border-radius: 0%;
      margin: 0;
      border: none;
      padding: 0;

      .dropdown-item:hover {
        background-color: #f52a2a;
      }

      .dropdown-item:focus {
        background-color: #f52a2a;
      }

      a {
        color: #ffffff;
        margin-top: 36px;
        padding-left: 35px;
      }

      .logout-btn {
        color: #f52a2a;
        margin-bottom: 30px;
      }

      .logout-btn:hover {
        color: #ffffff;
      }
    }
  }
}
