.Font {
  text-shadow: "-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black";
  color: white;
}

.NewsLists {
  width: 100%;
  background: rgb(250, 250, 250);
  padding: 20px;
  min-height: 51vh;
  margin: 0 auto;
}
